header {
    background: #BBBBBB;
    padding: 20px 0; /** espaçamento interno no meu cabeçalho para que nada chegue na margem, quero que tudo fiquentro da margem **/
}

.caixa{
    position: relative; /** Toda a vez que a gente mexe em posicionamento e a gente está usando posicionamento absoluto, ele fica absoluto em relação a página, ou seja, o novo ponto inicial dele é qualquer ponto que a gente selecionou no navegador. **/

    /** Quando eu quero que ele tenha um ponto absoluto, mas de dentro de alguma caixa, eu preciso que essa caixa levante, eu preciso que essa caixa também tenha um posicionamento, só que agora um posicionamento relativo, eu quero só que ela levante, position relative. **/
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /** Para mudar a posição do ponto inicial que ele se encontra **/
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /** utilizamos aqui, pois queremos que a separação entre os itens seja maior **/
    /** Topo, Direita, Abaixo, Esquerda - Equivalem as posições acima (0, 0, 0 ,15) **/
}

nav a {
    text-transform: uppercase; /** Gera a visualização de caixa alta dos caracteres escritos utilizados para navegação **/
    color: #000000; /** Muda a cor dos caracteres para preto **/
    font-weight: bold; /** Gera a visualização dos caracteres escritos utilizados para navegação como se estivessem em negrito **/
    font-size: 22px; /** Aumenta o tamanho da fonte **/
    text-decoration: none; /** Retira a arra que é criada abaixo das palavras utilizadas para navegação **/
}

nav a:hover {
    color: #C78C19; /** Comando que evidência o efeito que criamos para quando passarmos o mouse está por cima do elemnto da tag <a> dentro da <nav> **/
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /** Quando usamos o em ele aumenta proporcionalmente, no caso, aumentamos em duas vezes o tamanho base **/
    margin: 0 0 1em;
}

.principal p{
    margin: 0 0 1em;    
}

.principal strong {
    font-weight: bold; /** Gera a visualização dos caracteres escritos utilizados para navegação como se estivessem em negrito **/
}

.principal em {
    font-style: italic;
}

.imagensbeneficios {
    width: 60%;
}


footer {
    text-align: center;
    background: url("../img/bg.jpg"); /** A´lica imagem de fundo **/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 16px;
    margin: 20px 0 0;
}