body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0; /** espaçamento interno no meu cabeçalho para que nada chegue na margem, quero que tudo fiquentro da margem **/
}

.caixa{
    position: relative; /** Toda a vez que a gente mexe em posicionamento e a gente está usando posicionamento absoluto, ele fica absoluto em relação a página, ou seja, o novo ponto inicial dele é qualquer ponto que a gente selecionou no navegador. **/

    /** Quando eu quero que ele tenha um ponto absoluto, mas de dentro de alguma caixa, eu preciso que essa caixa levante, eu preciso que essa caixa também tenha um posicionamento, só que agora um posicionamento relativo, eu quero só que ela levante, position relative. **/
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /** Para mudar a posição do ponto inicial que ele se encontra **/
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px; /** utilizamos aqui, pois queremos que a separação entre os itens seja maior **/
    /** Topo, Direita, Abaixo, Esquerda - Equivalem as posições acima (0, 0, 0 ,15) **/
}

nav a {
    text-transform: uppercase; /** Gera a visualização de caixa alta dos caracteres escritos utilizados para navegação **/
    color: #000000; /** Muda a cor dos caracteres para preto **/
    font-weight: bold; /** Gera a visualização dos caracteres escritos utilizados para navegação como se estivessem em negrito **/
    font-size: 22px; /** Aumenta o tamanho da fonte **/
    text-decoration: none; /** Retira a arra que é criada abaixo das palavras utilizadas para navegação **/
}

nav a:hover {
    color: #C78C19; /** Comando que evidência o efeito que criamos para quando passarmos o mouse está por cima do elemnto da tag <a> dentro da <nav> **/
    text-decoration: underline;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao { /** Colocamos a virgula e e o forma texte area para que possamos aplicar as mesmas configurações de css dentro da tag textarea localizada no formulário **/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /** espeaçamento interno **/
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; /** permite criar uma transição de cor com tempo determinado**/
    cursor: pointer; /** Transforma o cursor do mouse em uma maozinha clicável indicando que é uma área para se realizar a ação do clik**/
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /** Propriedade que possibilita transformar o botão em um elemento maior, ou seja, ele está configurado para aumentar o botão em 20% de escala **/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000; 
    padding: 8px 15px;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg"); /** A´lica imagem de fundo **/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 16px;
    margin: 20px 0 0;
}